<!-- Example row of columns -->
<div class="row">
    <!-- Column One -->
    <div class="span3">
        <ul>
            <li>
                <div class="well">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>

                    <div class="page-header"><h2>Heading
                        <small>Poster Name</small> </h2></div>

                    <ul>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                    </ul>
                </div>
            <li>

            <li>
                <div class="well">
                    <div class="page-header"><h2>Heading <small>Poster Name</small></h2></div>
                    <ul>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <!-- Column Two -->
    <div class="span3">
        <ul>
            <li>
                <div class="well">
                    <div class="page-header"><h2>Heading <small>Poster Name</small></h2></div>
                    <ul>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <div class="well">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x380" alt="">
                    </a>
                    <div class="page-header"><h2>Heading <small>Poster Name</small></h2></div>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </div>
            </li>
        </ul>
    </div>

    <!-- Column Three -->
    <div class="span3">
        <ul>
            <li>
                <div class="well">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x380" alt="">
                    </a>
                    <div class="page-header"><h2>Heading <small>Poster Name</small></h2></div>
                    <ul>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <div class="well">
                <a href="#" class="thumbnail">
                    <img src="http://placehold.it/260x180" alt="">
                </a>

                <div class="page-header"><h2>Heading
                    <small>Poster Name</small> </h2></div>

                <ul>
                    <li>
                        <div class="poster-info clearfix">
                            <div class="left">
                                <a class="thumbnail" href="#">
                                    <img src="http://placehold.it/35x35" alt="">
                                </a>
                            </div>
                            <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="poster-info clearfix">
                            <div class="left">
                                <a class="thumbnail" href="#">
                                    <img src="http://placehold.it/35x35" alt="">
                                </a>
                            </div>
                            <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="poster-info clearfix">
                            <div class="left">
                                <a class="thumbnail" href="#">
                                    <img src="http://placehold.it/35x35" alt="">
                                </a>
                            </div>
                            <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                        </div>
                    </li>
                </ul>
            </div>
        </ul>
    </div>

    <!-- Column Four -->
    <div class="span3">
        <ul>
            <li>
                <div class="well">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>

                    <div class="page-header"><h2>Heading
                        <small>Poster Name</small> </h2></div>

                    <ul>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="well">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/260x180" alt="">
                    </a>

                    <div class="page-header"><h2>Heading
                        <small>Poster Name</small> </h2></div>

                    <ul>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="poster-info clearfix">
                                <div class="left">
                                    <a class="thumbnail" href="#">
                                        <img src="http://placehold.it/35x35" alt="">
                                    </a>
                                </div>
                                <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap-transition.js"></script>
<script src="../assets/js/bootstrap-alert.js"></script>
<script src="../assets/js/bootstrap-modal.js"></script>
<script src="../assets/js/bootstrap-dropdown.js"></script>
<script src="../assets/js/bootstrap-scrollspy.js"></script>
<script src="../assets/js/bootstrap-tab.js"></script>
<script src="../assets/js/bootstrap-tooltip.js"></script>
<script src="../assets/js/bootstrap-popover.js"></script>
<script src="../assets/js/bootstrap-button.js"></script>
<script src="../assets/js/bootstrap-collapse.js"></script>
<script src="../assets/js/bootstrap-carousel.js"></script>
<script src="../assets/js/bootstrap-typeahead.js"></script>-->