<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="span10">
            <div class="well">
                <a href="#" class="thumbnail">
                    <img src="http://placehold.it/260x180" alt="">
                </a>

                <div class="page-header"><h2>Heading
                    <small>Poster Name</small> </h2></div>

                <ul>
                    <li>
                        <div class="poster-info clearfix">
                            <div class="left">
                                <a class="thumbnail" href="#">
                                    <img src="http://placehold.it/35x35" alt="">
                                </a>
                            </div>
                            <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="poster-info clearfix">
                            <div class="left">
                                <a class="thumbnail" href="#">
                                    <img src="http://placehold.it/35x35" alt="">
                                </a>
                            </div>
                            <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="poster-info clearfix">
                            <div class="left">
                                <a class="thumbnail" href="#">
                                    <img src="http://placehold.it/35x35" alt="">
                                </a>
                            </div>
                            <div class="right"><p>Donec id elit non mi porta gravida at eget metus. Fusce</p></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>