.navbar-inner{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-top: none;
}

.navbar-inner h3{
    position: relative;
    left: 50%;
    margin-left: -76px;
}