.navbar-inner{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-top: none;
}

.navbar-inner h3{
    position: absolute;
    left: -72px;
    margin-left: 50%;
}

.navbar-inner h3 a{
    text-decoration: none;
    color: #000;
}

#wrapper{
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.article{
    /*position: absolute;*/
    float: left;
    width: 192px;
    padding: 15px 15px 0;
    font-size: 11px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    margin: 10px;
}

.article.large{
    width: 100%;
}

.article-holder{
    /*height: 272px;
    background-color: #cccccc;*/
}

.article-holder.new-article{
    height: auto;
    background: none;
}

.article .stats span{
    float: left;
    margin-right: 10px;
}

.description{
    margin: 10px 0 5px;
    overflow: hidden;
    word-wrap: break-word;
}

.convo{
    margin: 0 -15px;
    padding: 10px 15px;
    background-color: #F2F0F0;
}

.convo p{
    display: table-cell;
}

.image-placeholder{
    float: left;
    margin-right: 6px;
    width: 30px;
    height: 40px;
    background-color: #949494;
}

.comments{
    margin: 0 -15px;
    padding: 0 15px;
    border-top: 1px solid #D9D4D4;
}

.comments .comment{
    border-top: 1px solid #FCFAFA;
    border-bottom: 1px solid #D9D4D4;
    overflow: hidden;
}

.comments .comment:last-child {
    border-bottom-width: 0;
}

#navigation{
    position: relative;
    float: right;
    z-index: 105;
}

#navigation li{
    position: relative;
    display: inline;
}

#navigation li p{
    cursor: pointer;
    font-weight: bold;
    height: 29px;
    padding: 15px 27px 0 14px;
}

.modal-body .leftside{
    width: 30%;
    float: left;
}

.modal-body .rightside{
    width: 68%;
    margin-left: 10px;
    float: right;
}

#add-article-modal .navigation{
    margin: 15px 0 0 0;
    float: right;
}

#add-article-modal .btn-warning{
    margin: 15px 0 0 0;
    float: left;
}

.feed-image-slider .btn-group{
    margin: 15px 0 0 0;
}

.feed-image-slider img{
    max-width: 100%;
}

.one-col{
    width: 29%;
}

.two-col{
    width: 62%;
}

.three-col{
    width: 95%;
}

.one-row{
    height: 200px;
    overflow: hidden;
}

.two-row{
    height: 435px;
    overflow: hidden;
}

