<div class="container">
    <div class="row">
        <div class="span8">

            <div class="article large">
                <h2>{{article.title}}</h2>

                <div class="article-holder new-article">
                    <img ng-src="{{article.images[0].src}}" alt="">
                </div>

                <p class="description">{{article.description}}</p>

                <p class="stats clearfix">
                    <!--<span class="likes-count">{{likes}} likes</span>
                    <!--<span class="comment-count">{{comments}} comments</span>
                    <span class="reblog-count">{{reblogs}} reblogs</span>-->
                    <span class="view-count">{{article.views}} views</span>
                </p>

                <div class="convo clearfix">
                    <a href=""><div class="image-placeholder"></div></a>
                    <p></p>
                </div>
            </div>

        </div>
    </div>
</div>