<div ui-modal class="modal fade full-article" ng-model="showFullArticle" style="height:96%;width:96%;{{marginLeft}}">
    <div class="modal-header">
        <button type="button" ng-click="showArticle(false)" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><a ng-href="{{article.uri}}">Full Article</a></h3>
    </div>
    <div class="modal-body">
        <iframe src="{{article.uri}}" width="100%" height="100%"></iframe><br>
        <!--<a href="{{article.uri}}">Link to full article</a>-->
    </div>
</div>
<div class="container article-view-container">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span9">
                    <div class="article">
                        <h2>{{article.title}}</h2>

                        <div class="content">
                            <img ng-src="{{article.thumbnail}}" alt="">
                            <p class="description" ng-bind-html-unsafe="article.content"></p>
                        </div>
                    </div>
                </div>

                <div class="span3">
                    <div class="sidebar">
                        <div class="clearfix">
                            <div class="time-posted"><p><i>{{article.dateCreated | timeago}}</i></p></div>
                        </div>

                        <p class="stats clearfix">
                            <span class="view-count">{{article.views}}</span>
                        </p>

                        <a class="btn" ng-click="showArticle(true)">View Original</a>
                        <!-- not sure how much modifications we can do with twitter and facebook buttons -->
                        <a class="btn" href="https://twitter.com/share?text=Enterprise JS: {{article.title}} {{fullUrl}}&lang=en" target="_blank" class="twitter-share-button">Share on Twitter</a>
                        <a class="btn" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?s=100&p[title]={{article.title}}&p[summary]={{article.title}}&p[url]={{fullUrl}}&p[images][0]={{article.thumbnail}}">Share on Facebook</a>
                        <!--<div class="article-tweet-button" reload-twitter-btns>
                            <a href="https://twitter.com/share" data-url="{{url}}" data-text="Enterprise JS: {{article.title}}" class="twitter-share-button" data-lang="en">Tweet</a>
                        </div>-->
                        <a ng-href="#/article/edit/{{article._id}}">Edit</a>
                        <!--<span class="muted"><like objectid="{{article._id}}"></like> ({{article.likes}})</span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>