<div ui-modal class="modal fade full-article" ng-model="$parent.showFullArticle">
    <div class="modal-header">
        <button type="button" ng-click="$parent.showFullArticle=false" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Full Article</h3>
    </div>
    <div class="modal-body">
        <iframe src="{{article.url}}" width="400" height="400"></iframe><br>
        <a href="{{article.url}}">Link to full article</a>
    </div>
</div>
<div class="container">
    <div class="row article">
        <div class="span8">
            <h2>{{article.title}}</h2>

            <div class="content">
                <img ng-src="{{article.images[0].src}}" alt="">
                <p class="description">{{article.content}}</p>
            </div>
        </div>

        <div class="span4">
            <div class="sidebar">
                <div class="clearfix">
                    <div class="time-posted"><p><i>1 hour ago</i></p></div>
                </div>

                <p class="stats clearfix">
                    <span class="view-count">{{article.views}}</span>
                </p>

                <a class="btn" ng-click="$parent.showFullArticle=true">View Original</a>
                <!-- not sure how much modifications we can do with twitter and facebook buttons-->
                <a class="btn" href="https://twitter.com/share">Share on Twitter</a>
                <a class="btn" href="https://facebook.com">Share on Facebook</a>
                <!--<div class="article-tweet-button" reload-twitter-btns>
                    <a href="https://twitter.com/share" data-url="{{url}}" data-text="Enterprise JS: {{article.title}}" class="twitter-share-button" data-lang="en">Tweet</a>
                </div>-->

                <!--<span class="muted"><like objectid="{{article._id}}"></like> ({{article.likes}})</span>-->
            </div>
        </div>
    </div>
</div>