<div class="container">
    <div class="row">
        <div class="article">
            <div class="span5">
                <h4>Article Image</h4>
                <img ng-src="{{article.thumbnail}}" check-size>

                <h4>Article Title</h4>
                <p>{{article.title}}</p>
                <h4>Article Description</h4>
                <p class="description"><textarea ng-model="article.description"></textarea></p>
                <h4>Article Content</h4>
                <p class="content"><textarea ng-model="article.content"></textarea></p>

                <div ng-show="success" style="font-size: 14px;">Article saved successfully. <a ng-href="#/article/{{article._id}}">View the updated article now</a></div>
                <div ng-show="status != false" style="font-size: 14px;">Error saving article: {{status}}</div>
                <button ng-click="save()" class="btn btn-warning">Save Article</button>
            </div>

            <div class="span6">
                <iframe src="{{article.uri}}" width="98%" height="800"></iframe><br>
            </div>
        </div>

    </div>
</div>