<div class="container">
    <div class="row">
        <div class="span12">
            <div class="article {{articleLayout}}">
                <h2>{{article.title}}</h2>

                <div class="article-holder new-article">
                    <img ng-src="{{article.images[0].src}}" alt="">
                </div>
                <p class="description"><textarea ng-model="article.description"></textarea></p>
                <p class="content"><textarea ng-model="article.content"></textarea></p>
                <p class="stats clearfix">
                    <span class="likes-count">0 likes</span>
                    <span class="comment-count">0 comments</span>
                    <span class="reblog-count">0 reblogs</span>
                </p>
                <div class="convo clearfix">
                    <a href=""><div class="image-placeholder"></div></a>
                    <p></p>
                </div>
            </div>

            <button ng-click="save()">Save</button>
        </div>
    </div>
</div>