<div id="container" isotope articles="articles">
    <!--<div class="article" ng-repeat="article in articles">
        <div class="article-holder"></div>
        <p class="description">{{article.description}}</p>
        <p class="stats clearfix">
            <span class="likes-count">{{article.stats.likes}} likes</span>
            <span class="comment-count">{{article.stats.comments}} comments</span>
            <span class="reblog-count">{{article.stats.reblogs}} reblogs</span>
        </p>
        <div class="convo clearfix">
            <a href="">
                <div class="image-placeholder"></div>
            </a>
            <p>
                {{article.convoStarter.content}}
            </p>
        </div>
        <div class="comments">
            <div class="comment convo">
                <a href="">
                    <div class="image-placeholder"></div>
                </a>
                <p>{{article.comments[0].content}}</p>
            </div>
        </div>
    </div>-->
</div>
