<!doctype html>
<html lang="en" ng-app="ejs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>EnterpriseJS</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="lib/isotope/css/style.css"/>
    <link rel="stylesheet" href="css/aller-webfont/stylesheet.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link href='http://fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>

    <link rel="icon" href="img/EJS_images_logo.ico" />

    <link rel="stylesheet" href="lib/angular-ui/angular-ui.css"/>

    <style>
        .rickshaw_graph {
            position: relative;
        }
        .rickshaw_graph svg {
            display: block;
            overflow: hidden;
        }
    </style>

    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>

    <!--<script src="http://192.168.1.233:8082/target/target-script-min.js#anonymous"></script>-->

    <!--[if IE]>
    <style type="text/css">
        .navbar-inner{
            filter: none;
        }
    </style>

    <![endif]-->
    <!--code for google identity toolkit-->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/googleapis/0.0.4/googleapis.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/jsapi"></script>
    <script type="text/javascript" src="//www.accountchooser.com/client.js"></script>
    <script type="text/javascript">
        google.load("identitytoolkit", "2", {packages: ["ac"], language:"en"});
    </script>
    <script type="text/javascript">
        $(function() {
            var url = window.location.origin + window.location.pathname;
            //the base URLs needs to be set via a function or something instead of hard coded the way they are here
            window.google.identitytoolkit.setConfig({
                developerKey: "AIzaSyAH6F_1XgdpAb93KazCHcSWHUmkAQAbWn8",
                companyName: "",
                callbackUrl: url + "api/user/check",
                realm: "",
                idps: ["Gmail", "Yahoo"],
                tryFederatedFirst: true,
                useContextParam: false,
                language: "en"
            });
        });

        function openLoginWindow()
        {
            // open popup window and pass field id
            window.open('#/login','Log In', 'width=600,height=470');
            return false;
        }

        function closeLoginWindow(result)
        {
            // this gets called from the popup window and is passed in the results of the login
            if(result === "true")
            {
                var elem = angular.element($(".app-view-container"));
                elem.scope().$broadcast('event:int-signinConfirmed');
            }
        }

        function logout()
        {
            var url = window.location.origin + window.location.pathname;
            $.ajax(url + "api/user/logout");
            closeLoginWindow("true");
            return false;
        }
    </script>
    <!-- code for google analytics-->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
        { (i[r].q=i[r].q||[]).push(arguments)}
                ,i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-40471542-1', 'enterprisejs.org');
        ga('send', 'pageview');
    </script>
</head>
<body>

<div class="navbar">
    <div class="navbar-inner">
        <div resize-nav>
            <a class="hidden-phone hidden-tablet" ng-href="#/home"><img ng-src="img/EJS_images_logo.png" alt=""></a>
            <a class="visible-phone visible-tablet" ng-href="#/home"><img ng-src="img/EJS_images_logo_mobile.png" alt=""></a>
            <ul id="navigation" class="hidden-phone">
                <li ui-if="!auth.isAuthenticated" ng-controller="pykl.LoginCtrl"><a onclick="return openLoginWindow()" href="#" target="_blank">
                        <h3>LOG IN</h3>
                    </a>
                </li>
                <li ui-if="auth.isAuthenticated" ng-class="{ 'upworthy': auth.isUserInRole('ROLE_ADMIN') }"><a onclick="return logout()" href="">
                    <h3>LOG OUT</h3>
                </a>
                </li>
                <li ui-if="auth.isUserInRole('ROLE_ADMIN')" ng-click="$parent.showAddUrlModal=true">
                    <div id="add-link-btn">
                        <div class="add-link-btn-inner">
                            <div id="inner-plus-horiz"></div>
                            <div id="inner-plus-vert"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="fake-bottom-border visible-desktop"></div>

<div  ng-controller="addArticleModal">
    <div ui-modal class="modal fade" ng-model="$parent.showAddUrlModal">
        <div class="modal-header">
            <button type="button" ng-click="$parent.showAddUrlModal=false" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Add An Article</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="input-append">
                    <input class="span5" type="url" ng-model="urlToCheck">
                    <button ng-click="addArticle(urlToCheck)" class="btn" type="button">Add It!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="app-view-container" ng-view ng-animate=" {enter: 'view-enter', leave: 'view-leave'} "></div>
<!--<div ng-view></div>-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
-->
<script src="lib/modernizr-latest.js"></script>
<script src="lib/angular/angular-sanitize.min.js"></script>

<script src="lib/jquery.js"></script> <!-- v1.8.3 -->
<script src="lib/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/auth.js"></script>

<script src="lib/angular-ui/angular-ui.js"></script>

<script src="lib/bootstrap/js/bootstrap.js"></script>

<script src="lib/slides.jquery.js"></script>
<script src="lib/loremipsum.js"></script>
<script src="lib/reservation.grid.js"></script>
<script src="lib/moment.js"></script>
<script src="lib/jquery.autoellipsis-1.0.10.js"></script>
<script src="lib/jquery.infinitescroll.js"></script>

<script src="lib/jquery.hammer.min.js"></script>
<script src="lib/underscore.js"></script>

<script src="lib/jquery.easing-1.3.js"></script>
<script src="lib/jquery.iosslider.js"></script>

<script src="lib/angular-ui/tinymce/tiny_mce.js"></script>
<script src="lib/angular-ui/tinymce/jquery.tinymce.js"></script>

<!--<script src="http://code.shutterstock.com/rickshaw/vendor/d3.v2.js"></script>-->
<!-- graphing library for use with the score test simulator -->
<!--<script src="http://code.shutterstock.com/rickshaw/rickshaw.js"></script>-->
</body>
</html>
